

html,body{
    margin:0;
    height:100%;
    
}   

.center {
    display: flex;
    justify-content: center;
    align-items: center;

  }
.content{
    width: 640px;
    height: 640px;
    display:flex;
    flex-wrap: wrap;
    border: solid 5px blue; 
}


.hover{
    background-color: black;
}

body{
    display: flex;
    flex-direction: column;
    gap:10px;
}